doctype 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title= title
        link(rel="stylesheet", href="/foundation/stylesheets/foundation.min.css")
        link(rel="stylesheet", href="/css/style.css")

        script(src="/foundation/javascripts/modernizr.foundation.js")
    body

        block content